body {
  overflow: hidden; /* Make the HTML body be non-scrollable */
  background-color: $primary-color;
  font: 100% $font-stack;
}

#logo {
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .logo-icon {
    width: 967px;
    height: 238.4px;
  }
}
