$font-stack: Helvetica, sans-serif;
$primary-color: #212529;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

img:logo {
  src: "../icons/icon32x32.png";
  align-content: center;
}
